<div class="btm-nav bg-neutral text-neutral-800 btm-nav-lg lg:hidden transition-all duration-500 ease-in-out divide-x divide-white/25 border-t border-neutral-200 z-50">
  <a href="/treatments">
    <button>
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="h-6 w-6 fill-white"><path d="M11 20A7 7 0 0 1 9.8 6.1C15.5 5 17 4.48 19 2c1 2 2 4.18 2 8 0 5.5-4.78 10-10 10Z"/><path d="M2 21c0-3 1.85-5.36 5.08-6C9.5 14.52 12 13 13 12"/></svg>
      <span class="btm-nav-label">Treatments</span>
    </button>
  </a>
  <a href="/bookings">
    <button>
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="h-6 w-6 fill-white"><path d="M21 7.5V6a2 2 0 0 0-2-2H5a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h3.5"/><path d="M16 2v4"/><path d="M8 2v4"/><path d="M3 10h5"/><path d="M17.5 17.5 16 16.3V14"/><circle cx="16" cy="16" r="6"/></svg>
      <span class="btm-nav-label">Bookings</span>
    </button>
  </a>
  <a href="/contact">
    <button class="">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="h-6 w-6 fill-white"><path d="M14 9a2 2 0 0 1-2 2H6l-4 4V4a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2z"/><path d="M18 9h2a2 2 0 0 1 2 2v11l-4-4h-6a2 2 0 0 1-2-2v-1"/></svg>
      <span class="btm-nav-label">Contact</span>
    </button>
  </a>
</div>

<script is:inline>
  let lastScrollTop = 0; // Store the last scroll position
  const navbar = document.querySelector('.btm-nav'); // Select the navbar

  // Initially hide the navbar
  navbar.classList.add('bottom-[-100px]');

  window.addEventListener('scroll', () => {
    let currentScroll = window.pageYOffset || document.documentElement.scrollTop;

    if (currentScroll > lastScrollTop && currentScroll > 0) {
      // Scrolling down, hide the navbar
      navbar.classList.remove('bottom-0');
      navbar.classList.add('bottom-[-100px]');
    } else if (currentScroll > 0) {
      // Scrolling up or starting to scroll, show the navbar
      navbar.classList.remove('bottom-[-100px]');
      navbar.classList.add('bottom-0');
    }

    lastScrollTop = currentScroll <= 0 ? 0 : currentScroll; // Prevent negative scroll values
  });
</script>

