---
import { Image } from 'astro:assets';
import Logo from '@assets/images/logo.webp'
import directus from '@api/directus'
import { readItems, readItem } from '@directus/sdk'
const treatmentPages = await directus.request(
  readItems('treatment_pages', {
    fields: ['*'],
    filter: {
      status: {
        _eq: 'published',
      },
    },
  })
)

const Logo = `${import.meta.env.PUBLIC_API}/assets/9142bbd9-d2d2-4ed1-b95d-b6f9662de5cc/logo.webp}`

---
<div class="flex justify-between text-lg items-center">

	<ul class="hidden menu 2xl:menu-horizontal mx-auto gap-20 font-hand text-2xl">
		<li><a>About</a></li>
		<li>
		  <details>
			<summary><a href="/treatments">Treatments</a></summary>
			<ul class="w-60 z-50 font-sans text-lg">
				{
					treatmentPages.map((treatmentPage) => (
						<li><a href={`/treatments/${treatmentPage.slug}`} data-astro-prefetch="tap">{treatmentPage.headline}</a></li>
				
					))
				  }
			</ul>
		  </details>
		</li>
	  </ul>
	<a href="/" class="mx-auto">
		<picture>
			<Image src={Logo} alt="Logo" width={800} height={600} class="max-w-sm 2xl:max-w-lg p-6 drop-shadow-lg"  loading="eager" />
		</picture>
	</a>
	<ul class="hidden menu 2xl:menu-horizontal mx-auto gap-20 font-hand text-2xl">
		<li><a href="/contact">Contact</a></li>
		<li><a>Appointments</a></li>
	  </ul>
</div>