---
import Layout from "@layouts/Default.astro";
import Hero from "@components/Hero.astro";

import bgImg from "@assets/images/spa.webp";

import { getEntry } from "astro:content";
const pageData = await getEntry("pages", "about");

const page = await pageData?.data;
// import data from "@content/pages/about.json";
---

<Layout title={page.title}>
  <Hero backgroundImageUrl={bgImg.src} headline={page.title} />
  <article class="prose prose-xl mx-auto max-w-screen-xl py-20">
    <div set:html={page.content}></div>
  </article>
</Layout>
