---	
import MobileNav from "@components/MobileNav.astro";
import Footer from "@components/Footer.astro";
import { ClientRouter } from 'astro:transitions';

export interface Props {
	title: string;
    backgroundImageUrl: string;
}

const { title, backgroundImageUrl } = Astro.props;
---
<!doctype html>
<html lang="en" class="scroll-auto bg-neutral">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<ClientRouter />
		<title>{title} | Beauty Awakening by Chantelle</title>
	</head>
	<body>
		<div class="flex flex-col min-h-dvh bg-fixed inset-0 bg-cover bg-no-repeat bg-center bg-neutral" style={`background-image: url(${backgroundImageUrl});`}>
            <main class="flex-grow relative">
                <slot />
            </main>
            <div class="backdrop-blur-sm bg-neutral">
				<Footer />
			</div>
			<MobileNav />
        </div>
		
		
	</body>
</html>

<script defer src="https://unpkg.com/tailwindcss-intersect@2.x.x/dist/observer.min.js"></script>