---	
import "@styles/global.css";
import MobileNav from "@components/MobileNav.astro";
import Footer from "@components/Footer.astro";
import { ClientRouter } from 'astro:transitions';
import Styles from "@components/Styles.astro";

export interface Props {
	title: string;
    backgroundImageUrl: string;
}

const { title, backgroundImageUrl } = Astro.props;
---
<!doctype html>
<html lang="en" class="scroll-smooth bg-primary" data-theme="mytheme">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<link rel="stylesheet" href="https://use.typekit.net/mgb1vlk.css">
		<ClientRouter />
		<title>{title} | Beauty Awakening by Chantelle</title>
	</head>
	<body>
		<slot />
		
		<MobileNav />
	</body>
</html>

<script defer src="https://unpkg.com/tailwindcss-intersect@2.x.x/dist/observer.min.js"></script>
