---
import { Image } from "astro:assets";

export interface Props {
  title: string;
  headline: string;
  imgSrc: string;
  imgAlt: string;
  excerpt: string;

}

const { imgSrc, imgAlt, excerpt, title } = Astro.props;
---

<div class="card bg-base-100 w-96 shadow-sm">
  <figure>
    <Image
      src={imgSrc}
      alt={imgAlt}
      width={600}
      height={400}
    />
  </figure>
  <div class="card-body">
    <h2 class="card-title">{title}</h2>
    <p>
      {excerpt}
    </p>
    <div class="card-actions justify-end">
      <button class="btn btn-primary">View Services</button>
    </div>
  </div>
</div>
