---
import CastleHill from '@components/CastleHill.astro'
import Welcome from '@components/Welcome.astro'
import Layout from '@layouts/Layout.astro'
import Room from '@components/Room.astro'
---

<Layout title="Welcome">
  <div class="snap-y">
    <Welcome />
    <CastleHill />
	<Room />
  </div>
</Layout>
